<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <style>
    .date-picker-container {
      max-width: 300px;
    }
    .selected-dates {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
    .date-tag {
      background-color: #e0e0e0;
      padding: 5px 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
    }
    .date-tag button {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 5px;
      font-weight: bold;
    }

    .buttons {
      margin-top: 20px;
    }
    .select-container {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .select-container .form-control {
      cursor: pointer;
    }

    .form-control {
      background-color: #191c24 !important;
      color: white;
    }

    .select-container .options {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid #ddd;
      background: white;
      display: none;
      z-index: 1000;
      max-height: 150px;
      overflow-y: auto;
    }

    .select-container .options div {
      padding: 10px;
      cursor: pointer;
    }

    .select-container .options div.selected {
      background: #007bff;
      color: white;
    }

    .day-count {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .add-day {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .main-box {
      padding: 20px;
      border: 2px solid black;
      margin-bottom: 20px;
    }

    .js-example-basic-multiple {
      width: 100%;
      background-color: white;
      color: black;
    }
  </style>
  <body>
    <div class="container-scroller">
      <%- include("../partials/_sidebar.ejs") %>
      <div class="container-fluid page-body-wrapper">
        <%- include("../partials/_navbar.ejs") %>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Add Package</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin/packages">Packages</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Add Package
                  </li>
                </ol>
              </nav>
            </div>
            <div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Package</h4>
                  <form id="packageForm" enctype="multipart/form-data">
                    <input
                      type="hidden"
                      name="itenaryId"
                      value="<%= itenaryId %>"
                      data-day="1"
                    />
                    <div class="step active">
                      <div class="border-bottom add-day">
                        <div class="my-4">
                          <h3>Create Day</h3>
                        </div>
                        <button
                          type="submit"
                          id="addDayButton"
                          class="btn btn-primary"
                        >
                          Add Day
                        </button>
                      </div>
                      <div id="daysContainer">
                        <div class="main-box">
                          <div class="day-count">Day 1</div>
                          <div class="form-group row">
                            <div class="col-md-6 mb-4">
                              <label for="title1">Title</label>
                              <input
                                type="text"
                                class="form-control"
                                id="title1"
                                name="title"
                                data-day="1"
                              />
                            </div>
                            <div class="form-group">
                              <label for="siteSeenId1">SiteSeen</label>
                              <select
                                class="js-example-basic-multiple form-control"
                                id="siteSeenId1"
                                name="siteSeenId[]"
                                data-day="1"
                                multiple="multiple"
                                data-placeholder="Select SiteSeen"
                              >
                                <option></option>
                                <% siteSeenData.forEach(function(site) { %>
                                <option value="<%= site._id %>">
                                  <%= site.SiteseenName %>
                                </option>
                                <% }) %>
                              </select>
                            </div>

                            <div class="col-md-6">
                              <label for="description1">Description</label>
                              <input
                                type="text"
                                class="form-control"
                                id="description1"
                                name="description"
                                data-day="1"
                              />
                            </div>

                            <div class="form-group">
                              <label>Meal</label>
                              <div class="d-flex">
                                <div class="form-check mr-2">
                                  <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="breakfastMeal"
                                    name="meal[]"
                                    value="Breakfast"
                                    data-day="1"
                                  />
                                  <label
                                    class="form-check-label m-0 p-0"
                                    for="breakfastMeal"
                                  >
                                    Breakfast
                                  </label>
                                </div>
                                <div class="form-check mr-2">
                                  <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="lunchMeal"
                                    name="meal[]"
                                    value="Lunch"
                                    data-day="1"
                                  />
                                  <label
                                    class="form-check-label m-0 p-0"
                                    for="lunchMeal"
                                  >
                                    Lunch
                                  </label>
                                </div>
                                <div class="form-check mr-2">
                                  <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="dinnerMeal"
                                    name="meal[]"
                                    value="Dinner"
                                    data-day="1"
                                  />
                                  <label
                                    class="form-check-label m-0 p-0"
                                    for="dinnerMeal"
                                  >
                                    Dinner
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="buttons">
                      <button
                        type="button"
                        id="nextBtn"
                        class="btn btn-primary"
                      >
                        Next
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../partials/_script.ejs") %>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const addDayButton = document.getElementById("addDayButton");
        const daysContainer = document.getElementById("daysContainer");
        const nextBtn = document.getElementById("nextBtn");
        initializeSelect2();
        let dayCount = 1;

        addDayButton.addEventListener("click", function (event) {
          formSubmit(0);
        });

        nextBtn.addEventListener("click", function (event) {
          formSubmit(1);
        });

        const formSubmit = (value) => {
          event.preventDefault();
          console.log(dayCount, "day");
          const currentDayInputs = document.querySelectorAll(
            `[data-day="${dayCount}"]`
          );
          const formData = new FormData();

          currentDayInputs.forEach((input) => {
            if (input.type !== "checkbox" && input.type !== "select-multiple") {
              formData.append(input.name, input.value);
            }
          });

          // Handle multiple select (siteSeenId[])
          const siteSeenSelect = document.getElementById(
            `siteSeenId${dayCount}`
          );
          const selectedOptions = Array.from(
            siteSeenSelect.selectedOptions
          ).map((opt) => opt.value);
          selectedOptions.forEach((value) => {
            formData.append("siteSeenId[]", value); // Append each selected value
          });

          const meals = document.querySelectorAll(
            `input[name="meal[]"][data-day="${dayCount}"]:checked`
          );
          meals.forEach((meal) => {
            formData.append("meal[]", meal.value);
          });

          console.log([...formData.entries()], "asas");

          fetch("/admin/add-day-itenary", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              dayCount++;

              if (value == 0) {
                const newDayBox = document.createElement("div");
                newDayBox.classList.add("main-box");

                newDayBox.innerHTML = `
                      <div class="day-count">Day ${dayCount}</div>
                         <input type="hidden" class="form-control l" id="itenaryId${dayCount}"  name="itenaryId" value="<%= itenaryId %>" data-day="${dayCount}" />
                      <div class="form-group row">
                        <div class="col-md-6 mb-4">
                          <label for="title${dayCount}">Title</label>
                          <input type="text" class="form-control l" id="title${dayCount}" name="title" data-day="${dayCount}" />
                        </div>
                        <div class="col-md-6 mb-4">
                          <label for="siteSeenId${dayCount}">SiteSeen</label>
                          <select class="js-example-basic-multiple form-control" multiple="multiple" id="siteSeenId${dayCount}" name="siteSeenId[]" data-day="${dayCount}">
                            <option value="">Select a site</option>
                            <% siteSeenData.forEach(function(site) { %>
                              <option value="<%= site._id %>">
                                <%= site.SiteseenName %>
                              </option>
                            <% }) %>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <label for="description${dayCount}">Description</label>
                          <input type="text" class="form-control" id="description${dayCount}" name="description" data-day="${dayCount}" />
                        </div>
                            <div class="form-group">
                              <label for="${dayCount}">Meal</label>
                              <div class="d-flex">
                                <div class="form-check mr-2">
                                  <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="breakfastMeal${dayCount}"
                                    name="meal[]"
                                    value="Breakfast"
                                    data-day="${dayCount}"
                                  />
                                  <label
                                    class="form-check-label m-0 p-0"
                                    for="breakfastMeal"
                                  >
                                    Breakfast
                                  </label>
                                </div>
                                <div class="form-check mr-2">
                                  <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="lunchMeal${dayCount}"
                                    name="meal[]"
                                    value="Lunch"
                                    data-day="${dayCount}"
                                  />
                                  <label
                                    class="form-check-label m-0 p-0"
                                    for="lunchMeal"
                                  >
                                    Lunch
                                  </label>
                                </div>
                                <div class="form-check mr-2">
                                  <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="dinnerMeal${dayCount}"
                                    name="meal[]"
                                    value="Dinner"
                                    data-day="${dayCount}"
                                  />
                                  <label
                                    class="form-check-label m-0 p-0"
                                    for="dinnerMeal"
                                  >
                                    Dinner
                                  </label>
                                </div>
                              </div>
                            </div>
                      </div>
                      `;
                daysContainer.appendChild(newDayBox);

                initializeSelect2();
              } else {
                window.location.href = `/admin/package-price-page/${data.data.itenaryId}`;
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("There was an error creating the package.");
            });
        };
        function initializeSelect2() {
          // Re-initialize Select2 on all js-example-basic-multiple select elements
          $(".js-example-basic-multiple").select2({
            placeholder: "Select SiteSeen",
            allowClear: true,
          });
        }
      });
    </script>
  </body>
</html>
