<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <style>
      table th,
      table td {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
      }
      table th.index,
      table td.index {
        width: 5%;
      }
      table th.name,
      table td.name {
        width: 20%;
      }
      table th.description,
      table td.description {
        width: 50%;
      }
      table th.action,
      table td.action {
        width: 10%;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container-scroller">
      <%- include("../partials/_sidebar.ejs") %>
      <div class="container-fluid page-body-wrapper">
        <%- include("../partials/_navbar.ejs") %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Basic Tables</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Promo Codes
                  </li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-items-center mb-4"
                  >
                    <div>
                      <h4 style="margin: 0">All Promo Codes</h4>
                    </div>
                    <% if (hasPermission('Add Promo Codes')) { %>
                    <div>
                      <a class="btn btn-primary" href="/admin/add-promoCodes"
                        >Add Promo Codes</a
                      >
                    </div>
                    <% } %>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="index">Index</th>
                          <th class="name">Promo Codes</th>
                          <th class="name">Amount</th>
                          <th class="description">Status</th>
                          <% if (hasPermission('Status Promo Codes')) { %>
                          <th class="action">Action</th>
                          <% } %>
                          <% if (hasPermission('Delete Promo Codes')) { %>
                          <th class="action">Status</th>
                          <% } %>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (data && data.length > 0) { %> <% for (var i = 0;
                        i < data.length; i++) { %>
                        <tr>
                          <td class="index py-1"><%= i + 1 %></td>
                          <td class="name"><%= data[i].promoCode %></td>
                          <td class="name"><%= data[i].discountAmount %></td>
                          <td class="description">
                            <div
                              class="<%= data[i].status === 'Active' ? 'badge badge-outline-success' : 'badge badge-outline-danger' %>"
                            >
                              <%= data[i].status %>
                            </div>
                          </td>
                          <% if (hasPermission('Status Promo Codes')) { %>
                          <td class="action">
                            <div class="form-check form-check-primary">
                              <input class="checkbox" type="checkbox"
                              data-id="<%= data[i]._id %>" <%= data[i].status
                              === 'Active' ? 'checked' : '' %>
                              onchange="promoCodeToggleStatus(this)" />
                            </div>
                          </td>
                          <% } %>
                          <% if (hasPermission('Delete Promo Codes')) { %>
                          <td>
                            <a
                              href="/admin/delete-promoCode/<%= data[i]._id %>"
                              style="text-decoration: none"
                            >
                              <i
                                class="fa-solid fa-trash text-danger"
                                style="font-size: 18px"
                              ></i>
                            </a>
                          </td>
                          <% } %>
                        </tr>
                        <% } %> <% } else { %>
                        <tr style="width: 100%">
                          <td style="text-align: center" colspan="6">
                            No Promo Codes Available.
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include("../partials/_footer.ejs") %>
        </div>
      </div>
    </div>
    <%- include("../partials/_script.ejs") %>
  </body>
</html>
