<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <div class="container-scroller">
      <%- include("../partials/_sidebar.ejs") %>
      <div class="container-fluid page-body-wrapper">
        <%- include("../partials/_navbar.ejs") %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Basic Tables</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Package Themes
                  </li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title">Package Themes</h4>
                    <% if (hasPermission('Add Package Themes')) { %>
                      <a class="btn btn-primary" href="/admin/add-package-theme">Add Package Themes</a>
                    <% } %>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Index</th>
                          <th>Package Themes Name</th>
                          <th>Package Themes Images</th>
                          <% if (hasPermission('Status Package Themes')) { %>
                          <th>Status</th>
                          <% } %>
                          <% if (hasPermission('Edit Package Themes') || hasPermission('Delete Package Themes')) { %>
                          <th>Action</th>
                          <% } %>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach((item, index) => { %>
                          <tr>
                            <td style="width: 5%;"><%= index + 1 %></td>
                            <td style="width: 30%;" class="py-1">
                              <img
                                src="/uploads/package-theme/<%= item.packageThemeImage %>"
                                alt="image"
                                style="width: 80px; height: 80px; border-radius: 100px; object-fit: cover; margin: 10px 0;"
                              />
                            </td>
                            <td><%= item.packageName %></td>
                            <% if (hasPermission('Status Package Themes')) { %>
                            <td>
                              <div class="form-check form-check-primary">
                                <input 
                                  class="checkbox" 
                                  type="checkbox" 
                                  data-id="<%= item._id %>" 
                                  <%= item.status === 'Active' ? 'checked' : '' %> 
                                  onchange="packageToggleStatus(this)"
                                />
                              </div>
                            </td>
                            <% } %>
                            <% if (hasPermission('Edit Package Themes') || hasPermission('Delete Package Themes')) { %>
                              <td>
                                <% if (hasPermission('Edit Package Themes')) { %>
                                  <a
                                    class="mr-3"
                                    style="font-size: 18px;"
                                    href="/admin/edit-package-theme/<%= item._id %>"
                                  >
                                    <i class="fa-solid fa-pen-to-square text-primary"></i>
                                  </a>
                                <% } %>
                                <% if (hasPermission('Delete Package Themes')) { %>
                                  <a
                                    class="mr-2"
                                    style="font-size: 18px;"
                                    href="/admin/delete-package-theme/<%= item._id %>"
                                  >
                                    <i class="fa-solid fa-trash text-danger"></i>
                                  </a>
                                <% } %>
                              </td>
                            <% } %>
                          </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include("../partials/_footer.ejs") %>
        </div>
      </div>
    </div>
    <%- include("../partials/_script.ejs") %>
  </body>
</html>
