<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <div class="container-scroller">
      <%- include("../partials/_sidebar.ejs") %>
      <div class="container-fluid page-body-wrapper">
        <%- include("../partials/_navbar.ejs") %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Basic Tables</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin/all-flights">Branch Location</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Add Branch Location
                  </li>
                </ol>
              </nav>
            </div>
            <div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Branch Location</h4>
                  <form
                    class="forms-sample"
                    method="POST"
                    action="/admin/post-branch-location"
                  >
                    <div class="form-group">
                      <label for="branchLocation">Branch location</label>
                      <input
                        type="text"
                        name="branchLocation"
                        class="form-control"
                        id="branchLocation"
                        placeholder="Branch Location"
                      />
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">
                      Submit
                    </button>
                    <a class="btn btn-dark" href="/admin/allBranchLocation"
                      >Cancel</a
                    >
                  </form>
                </div>
              </div>
            </div>
            <%- include("../partials/_footer.ejs") %>
          </div>
        </div>
      </div>
    </div>
    <%- include("../partials/_script.ejs") %>
  </body>
</html>
