<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <style>
      .table td {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
      }
    </style>
  </head>

  <body>
    <div class="container-scroller">
      <%- include("../partials/_sidebar.ejs") %>
      <div class="container-fluid page-body-wrapper">
        <%- include("../partials/_navbar.ejs") %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Basic Tables</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Particular Meal
                  </li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div>
                      <h4 class="card-title">All Particular Meal Details</h4>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table
                      class="table table-striped"
                      style="table-layout: fixed; width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Index</th>
                          <th>Meal Image</th>
                          <th>Meal Name</th>
                          <th>Meal Price</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                          <td class="py-1"><%= i + 1 %></td>
                          <td style="width: 30%" class="py-1">
                            <img
                              src="/uploads/meal-items-image/<%= data[i].mealItemsImage %>"
                              alt="image"
                              style="
                                width: 75%;
                                height: 100px;
                                border-radius: 0;
                                object-fit: fill;
                              "
                            />
                          </td>
                          <td><%= data[i].mealItems %></td>
                          <td><%= data[i].mealPrice %></td>
                          <td>
                            <a
                              href="/admin/delete-particular-flight-meal/<%= data[i]._id %>"
                              style="text-decoration: none"
                            >
                              <i
                                class="fa-solid fa-trash text-danger"
                                style="font-size: 18px"
                              ></i
                            ></a>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <%- include("../partials/_footer.ejs") %>
          </div>
        </div>
      </div>
    </div>
    <%- include("../partials/_script.ejs") %>
  </body>
</html>
