<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <div class="container-scroller">
      <%- include("../partials/_sidebar.ejs") %>
      <div class="container-fluid page-body-wrapper">
        <%- include("../partials/_navbar.ejs") %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Basic Tables</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Permission Listing
                  </li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h4 class="card-title">Permission Listing</h4>
                    </div>
                    <div>
                      <a
                        class="btn btn-primary"
                        href="/admin/add-permission-name"
                      >
                        Add Permission
                      </a>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Index</th>
                          <th>Permission Name</th>
                          <th>Permission Description</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                          <td style="width: 5%"><%= i + 1 %></td>
                          <td><%= data[i].permissionName %></td>
                          <td><%= data[i].permissionDescription %></td>
                          <td>
                            <a
                              class="mr-3"
                              style="font-size: 18px"
                              href="/admin/get-edit-slider/"
                            >
                              <i class="fa-solid fa-pen-to-square text-primary">
                              </i>
                            </a>
                            <a
                              class="mr-2"
                              style="font-size: 18px"
                              href="/admin/delete-particular-permission/<%= data[i]._id %>"
                            >
                              <i class="fa-solid fa-trash text-danger"></i>
                            </a>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include("../partials/_footer.ejs") %>
        </div>
      </div>
    </div>
    <%- include("../partials/_script.ejs") %>
  </body>
</html>
